@font-face {
  font-family: "RockoUltraFLF";
  src: url("/assets/font/RockoUltraFLF.woff2");
}

:root {
  --colors-accent-20: #fafafa33;
  --colors-accent-40: #fafafa66;
  --colors-accent-60: #fafafa99;
  --colors-accent-80: #fafafacc;
  --colors-accent-100: #fafafa;
}


p {
  margin-block-start: unset;
}

body {
  background-color: #121212;
  font-family: RockoUltraFLF;
  margin: unset;
}

.main_container {
  height: 500px;
  display: flex;
  flex-direction: row;
}

.inner_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  width: 1200px;
}

.socials {
  display: flex;
  flex-direction: row;
}

.social_button {
  margin: 10px;
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #2e2d2d;
  transition: background-color ease .2s;
}

.social_button:hover {
  background-color: #444444;
}

.social_button_img {
  width: 100%;
  filter: brightness(0) invert(1);
}

.intro_1 {
  color: var(--colors-accent-100);
  font-size: 96px;
}

.intro_2 {
  display: flex;
  flex-direction: row;
  color: var(--colors-accent-100);
  font-size: 42px;
}

@media (max-width: 992px) {
  .intro_1 {
    font-size: 36px;
  }

  .intro_2 {
    font-size: 21px;
  }
}